<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="CustomFunctions"
         name="CustomFunctions"
         point="com.tibco.xml.cxf.common.customXPathFunction">
      <customXPathFunctionGroup
            class="custom_function.CustomFunctions"
            id="custom_function">
      </customXPathFunctionGroup>
   </extension>

</plugin>
