{
  "pid": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/ns.tibco.com\/bw\/palette\/dataformat}DataFormat.ac3d7d90-f6b7-4660-a89a-208df13e936f",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}