{
  "pid": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.factory",
  "properties": {
    "factory.pid": {
      "name": "factory.pid",
      "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration",
      "type": "java.lang.String"
    },
    "factory.pidList": {
      "name": "factory.pidList",
      "value": [{
        "value": "{http:\/\/xsd.tns.tibco.com\/bw\/models\/sharedresource\/httpclient}HttpClientConfiguration.1ad31bf6-f7b5-492a-8d0c-5d0fa8ebb16e",
        "type": "java.lang.String"
      }],
      "type": "[Ljava.lang.String;"
    }
  }
}